.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.button:disabled {
  border: 1px solid black;
  color: black;
  background: white;
  opacity: 0.2;
}

