.header__logo {
  width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 918px) {
  .header__logo {
    margin-left: 27px;
    width: 122px;
  }
}

@media screen and (max-width: 424px) {
  .header__logo {
    width: 103.74px;
  }
}